body {
    margin: 0;
    border: 30px solid #5e8692;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #0D0A27;
    border: 10px solid #4e517a;
    height: 60px;
    height: 110px;
    flex-shrink: 0;
}

.footer {
    display: flex;
    padding: 0 20px;
    background-color: #d4c9bf;
    border: 10px solid #a89f97;
    flex-shrink: 0;
}

.footer a{
    color: #000000;
    font-family: Jomolhari;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
    font-family: Jomolhari;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-style: solid;
    text-underline-position: from-font;
}

.menu a {
    color: #FFF;
    font-family: Jomolhari;
    text-decoration: none;
    margin-left: 20px;
    font-size: 36px;
}

.menu a:hover {
    text-decoration: underline;
}

.landing {
    background: #F2E9E4;
    margin: 0;
    font-family: Jomolhari;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.landing h1 {
    color: #22223B;
    font-family: Jomolhari;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 400px;
}

.landing p {
    color: #414e69;
    font-family: Jomolhari;
    font-size: 32px;
    margin: 0 auto;
    font-style: normal;
    text-align: center;
    word-wrap: break-word;
    max-width: 850px;
}

.landing a {
    color: #9a8c98;
    white-space: normal;
    font-family: Jomolhari;
    font-size: 25px;
    margin: 0 auto;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

.landing a:hover {
    text-decoration: underline;
}

.project {
    background: #F2E9E4;
    margin: 0;
    font-family: Jomolhari;
    border: 30px solid #4e517a;

}

.project h1{
    color: #22223B;
    font-family: Jomolhari;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 400px;
}
.project img {
    width: 500px;
    height: 325px;
    flex-shrink: 0;
    border-radius: 46px;
    background: #c5c1c1;
    border: 10px solid #ac9e9e;
}

.about {
    background: #F2E9E4;
    margin: 0;
    font-family: Jomolhari;
    border: 30px solid #4e517a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 350px;
    border: 10px solid #977979;
    margin-top: 5%;
}

.about button {
    width: 250px;
    height: 45px;
    flex-shrink: 0;
    color: #000000;
    text-align: center;
    font-family: Jomolhari;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about h1 {
    color: #000;
    text-align: center;
    font-family: Jomolhari;
    font-size: 30px;
    font-weight: 400;
    width: 1178px;
    flex-shrink: 0;
}