body {
    margin: 0;
    height: 100%;
    border: 30px solid #9DA389;
}

.page-border{
    border: 2px solid #1a1919;
}

.footer {
    position: relative;
    padding: 40px;
    background-color: #242020;
    text-align: center;
    height: 200px; 
}

.footer-links{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-items: center; 
    margin: 10px auto;
    max-width: 610px
}
.footer a{
    color: #d2d2e0;
    font-family: Jomolhari;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
}
.footer h1{
    color: #d2d2e0;
    font-family: Jomolhari;
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
}
.footer h2{
    position: absolute;
    bottom: 25px; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0;
    font-size: 12px;
    color: #d2d2e0;
    font-family: Jomolhari;
    text-decoration: none;
}

.section-one{
    background: #242020;
    margin: 0;
    font-family: Jomolhari;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one h1{
    color: #d2d2e0;
    font-family: Jomolhari;
    font-size: 64px;
    text-align: center;
    line-height: 400px;
}
.logo {
    font-size: 18px;
    color: #FFF;
    font-family: Jomolhari;
}

.navbar {
    padding: 0 150px;
    background-color: #0D0A27;
    height: 80px;
    flex-shrink: 0;
}

.navbar a {
    color: #FFF;
    font-family: Jomolhari;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.landing {
    display: flex;
    background: #F2E9E4;
    margin: 0;
    font-family: Jomolhari;
    height: 80vh;
    flex-direction: column;
    align-items: center;
}

.landing h1 {
    color: #22223B;
    font-family: Jomolhari;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 400px;
}

.landing p {
    color: #414e69;
    font-family: Jomolhari;
    font-size: 32px;
    margin: 0 auto;
    font-style: normal;
    text-align: center;
    word-wrap: break-word;
    max-width: 850px;
}

.landing a {
    color: #9a8c98;
    white-space: normal;
    font-family: Jomolhari;
    font-size: 25px;
    margin: 0 auto;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

.landing a:hover {
    text-decoration: underline;
}

.project-page {
    background: #F2E9E4;
    padding: 5%;
}

.project-page h1{
    color: #22223B;
    font-family: Jomolhari;
    font-size: 64px;
    text-align: center;
    margin-bottom: 3rem;
}
.projects{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
    max-width: 2000px;
    margin: 0 auto;
}

.project-blox img {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 500px;
    height: 300px;
}

.about {
    background: #F2E9E4;
    margin: 0;
    font-family: Jomolhari;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 85vh;
}

.about img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 350px;
    border: 3px solid #ffffff;
}
.pfp-border{
    border: 10px solid #977979 ;
    flex-shrink: 0;
    border-radius: 350px;
}
.borderborder{
    border: 2px solid #000000 ;
    flex-shrink: 0;
    border-radius: 350px;
    margin-top: 30px;
}

.about button {
    width: 250px;
    height: 45px;
    flex-shrink: 0;
    color: #000000;
    text-align: center;
    font-family: Jomolhari;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about p {
    color: #414e69;
    font-family: apercu;
    font-size: 20px;
    width: 1200px;
    flex-shrink: 0;
    text-indent: 50px;
}

.skills{
    color: #c5c1c1;
    font-size: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.skills i{
    color: #c5c1c1;
    font-size: 80px;
    margin: 0 10px;
}